# LLVM related output
core/llvm-passes/build
core/llvm-passes/feat-extr/CMakeFiles/
core/llvm-passes/**/Makefile
core/llvm-passes/CMakeFiles/
core/llvm-passes/CMakeCache.txt
**.gch
**/cmake_install.cmake

# Cache
core/test/Cache/

# python
**/__pycache__/

# script related output
**/*.csv
**/*.png
**/*.jpg
**/*.txt
**/*.pkl

# editor
.vscode/
