# LLVM related output
core/llvm_passes/build
core/llvm_passes/feat-extr/CMakeFiles/
core/llvm_passes/**/Makefile
**.gch
**/cmake_install.cmake
core/llvm_passes/CMakeFiles/
core/llvm_passes/CMakeCache.txt

# Cache
core/test/Cache/

# python
**/__pycache__/

# script related output
**/*.csv
**/*.png
**/*.jpg
**/*.pkl

# editor
.vscode/
